{% extends "base.html" %}
{% block content %}
	<h1>Adding a Product</h1>
	<form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type(class="form-control") }}<br>
            {% for error in form.type.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(class="form-control") }}<br>
            {% for error in form.price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.discount.label }}<br>
            {{ form.discount(class="form-control") }}<br>
            {% for error in form.discount.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.count.label }}<br>
            {{ form.count(class="form-control") }}<br>
            {% for error in form.count.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <h3>Картинки для продукта (Можно выбрать до 5, картинка 1 обязательна)</h3>
        <p>
            {{ form.image1.label }}<br>
            {{ form.image1(class="form-control") }}<br>
            {% for error in form.image1.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.image2.label }}<br>
            {{ form.image2(class="form-control") }}<br>
            {% for error in form.image2.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.image3.label }}<br>
            {{ form.image3(class="form-control") }}<br>
            {% for error in form.image3.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.image4.label }}<br>
            {{ form.image4(class="form-control") }}<br>
            {% for error in form.image4.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.image5.label }}<br>
            {{ form.image5(class="form-control") }}<br>
            {% for error in form.image5.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}