{% extends "base.html" %}
{% block content %}
<div><p>{{ prod.type }}</p></div>
<h2>{{ prod.name }}</h2>
<br>
<div style="display: flex;">
    <div class="image-container" style="">
        {% for image in all_img %}
            {% set a = write_to_file(all_img[image], image) %}
            <img class="img-thumbnail image" src="/static/img/product_now/{{ image }}">
        {% endfor %}
    </div>
    <div class="popup-image" style="margin-left: 1.5%; margin-right: 5%;">
        <img class="image2 rounded mx-auto d-block" src="/static/img/product_now/{{ first_img }}">
    </div>
    <div style="max-width: 50%;">
        <big>Цена:</big>
        <h5 class="card-title pricing-card-title">{{ "{:,}".format(prod.discount).replace(',', ' ') }} ₽ <small style="color: grey; font-size: 16px;"><s>{{ "{:,}".format(prod.price).replace(',', ' ') }} ₽</s></small> </h5>
        {% if prod.id in prod_in_basket%}
            <a type="button" class="btn btn-primary" href="/view_basket">В корзине <small>перейти</small></a>
        {% else %}
            <a type="button" class="btn btn-primary" href="/buy/{{prod.id}}/True">Добавить в корзину</a>
        {% endif %}
        <a type="button" class="btn btn-outline-primary" href="/buyprod/prod/{{ prod.id }}">Купить в один клик</a>
    </div>
</div>
<div class="wrapper">
  <div class="tabs">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Описание</label>
      <div class="tab-content">{{ prod.description }}</div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
      <label for="tab-2" class="tab-label">Комментарии</label>
      <div class="tab-content">
          <p>
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Добавить комментарий
            </button>
          </p>
          <div class="collapse" id="collapseExample">
              <div class="card card-body" style="background: #f5f5f5;">
                  {% if current_user.is_authenticated %}
                    <form action="" method="post" enctype="multipart/form-data">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
                            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                            <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                        </svg>
                        {{ form.hidden_tag() }}
                        <div>
                            <br>
                            {{ form.comment(class="form-control", placeholder="Отзыв") }}<br>
                            {% for error in form.comment.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="input-group mb-3">
                            {{ form.image.label(class="btn btn-outline-info") }}
                            {{ form.image(class="form-control", style="display:none;") }}<br>
                            {% for error in form.image.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    </form>
                  {% else %}
                    <center>
                        <svg height="60px" width="60px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"  xml:space="preserve">
                            <g>
                                <path class="st0" d="M344.367,379.396c-16.358-6.115-21.008-15.644-21.008-27.966c0-8.164,0-18.352,0-32.336
                                    c2.42-5.007,12.244-28.845,17.487-58.563c12.238-4.37,19.233-11.358,27.965-41.949c4.856-17.009,0.82-24.794-4.142-28.39
                                    c1.252-1.699,2.322-3.497,3.066-5.462c10.485-27.966,22.199-155.896-77.44-162.535c-28.231-26.577-59.785-29.9-99.639-6.646
                                    c-39.854,23.254-49.217,66.424-53.138,96.316c-4.105,31.235,6.464,79.86,6.464,79.86l0.971,0.136
                                    c-3.953,4.173-6.434,11.972-2.223,26.721c8.732,30.59,15.72,37.579,27.958,41.949c5.243,29.718,15.25,50.058,17.488,58.563
                                    c0,13.984,0,24.172,0,32.336c0,12.321-6.123,22.723-21.001,27.966C138.556,389.487,37.179,419.06,44.941,512h422.121
                                    C474.824,419.06,372.787,390.033,344.367,379.396z"/>
                            </g>
                        </svg>
                        <h5>  Зарегистрируйтесь, чтобы написать комментарий</h5>
                        <a style="min-width: 150px;" type="button" class="btn btn-info btn-sm" href="/register">Зарегистрироваться</a>
                        <a style="min-width: 150px;" type="button" class="btn btn-primary btn-sm" href="/login">Войти</a>
                    </center>
                  {% endif %}
              </div>
          </div>
          <br>
          <!-- Комментарии -->
          <div>
              {% for comment in comments %}
                <div class="alert alert-light" role="alert">
                    <h5>{{ comment.user.surname }} {{ comment.user.name }}</h5>
                    <br>
                    <p>{{ comment.text }}</p>
                    {% if comment.image != None %}
                        {% set a = write_to_file(comment.image, comment.id|string + '.jpg') %}
                        <img style="max-width: 10rem; max-height: 10rem;" src="/static/img/product_now/{{ comment.id|string + '.jpg' }}">
                    {% endif %}
                    {% if is_admin[0] == True %}
                        <br>
                        <a href="/delete_comment/{{ comment.id }}/{{ comment.product_id }}" type="button" class="btn btn-danger">Удалить комментарий</a>
                    {% endif %}
                </div>
              {% endfor %}
          </div>

      </div>
    </div>
  </div>
</div>

<script>
    document.querySelectorAll('.image-container img').forEach(image =>{
        image.onclick = () =>{
            document.querySelector('.popup-image').style.display = 'block';
            document.querySelector('.popup-image img').src = image.getAttribute('src');
        }
    });
    document.querySelector('.popup-image span').onclick = () =>{
        document.querySelector('.popup-image').style.display = 'none';
    }
</script>
{% endblock %}
