{% extends "base.html" %}
{% block title %}
    <nav>
        <a class="reg-button" href="login">Login</a>
        <a class="log-button" href="register">Register</a>
    </nav>
{% endblock %}
{% block content %}
{% if send_email == True %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ message }}
        <p>
            {{ form2.code.label }}<br>
            {{ form2.code(class="form-control", type="number") }}<br>
        </p>
        <p>{{ form2.submit2(type="submit", class="btn btn-primary") }}</p>
    </form>
{% else %}
<h1>Регистрация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {{ message }}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endif %}
{% endblock %}